body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: #95352a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.h3 {
    text-align: center;
    font-size: 1.5em;
}

#left, #right {
    width: 300px;
    min-height: 500px;
    margin: 20px;
    background-color: #fef4f2;
    border-radius: 5px;
}

.list {
    background-color: #77180e;
    color: #fff;
    height: 60px;
    margin: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}